@font-face {
    font-family: america;
    src: url(./GT-America-Compressed-Bold.ttf);
}
@font-face {
    font-family: america-b;
    src: url(./GT-America-Compressed-Black-Trial.otf);
}
*{
    margin: 0;
padding: 0;
box-sizing: border-box;
}
*::selection{
    color: #fff;
    background-color: #111;
}
html,body{
    width: 100%;
    height: 100%;
}
#nav{
    width: 100vw;
    height: 50px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
}
h3{
    font-size: 25px;
    color: #c45508;
    font-family: america;
    text-transform: uppercase;
}
#page1{
width: 100vw;
height: 100vh;
position: relative;
background-image: url(./image.webp);
background-position: center;
background-size: cover;
overflow: hidden;
}
svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.3);
    z-index: 99;
}
#page1 h1{
    font-family: america-b;
    white-space: nowrap;
    font-size: 14.4vw;
    bottom: -7%;
    padding: 0 10px;
    font-weight: 900;
    position: absolute;
  text-align: center;
    width: 100%;
    text-transform: uppercase;
    color: #c45508;
}
#page1 h1::before{
    content: "BOWNDS RANCHES. EST.1885";
    font-size: 1.1vw;
    font-weight: 500;
    font-family: gilroy;
    position: absolute;
    left: 1.7vw;
    top: 17px;
}
#page1 h1::after{
    content: "MARKETING & SELLING TEXAS .RANCHES";
    font-size: 1.1vw;
    font-weight: 500;
    font-family: gilroy;
    position: absolute;
    right: 1.7vw;
    top: 17px;
}
#overlay{
    width: 100%;
    height: 100%;
    position: absolute;
}
#scroll{
font-family: america;
text-transform: uppercase;
padding: 8px 20px;
color: #fff;
position: absolute;
word-spacing: 5px;
background-image: url(./buttonDarkBg.svg);
scale: 0;
transition: all ease-out 0.2s;
}
#page2{
    min-height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #fff;
}
#page2 h1{
    font-size: 13vw;
    font-family: america;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height:10vw;
    word-spacing: -10px;
    padding: 100px 50px;
    letter-spacing: -2px;
    text-align: center;
    background-image: url(https://cdn.sanity.io/images/sjvffa0f/production/217c65c6aa3412acac7b3d2fa8adc9020e487780-2724x1936.jpg/map.jpg?rect=0,1,2724,1935&w=1440&h=1023&auto=format);
    background-position: 0 100000%; 
}
#page2::before{
    content: "THE REPRESENTATION YOU DESERVE";
    font-size: 1.2vw;
    width: 10%;
    font-family: america;
    position: absolute;
    bottom: 19%;
    left: 9%;
}
#page2::after{
    content: "ONE OF AMERICA’S BEST BROKERAGES";
    font-size: 1.2vw;
    width: 10%;
    font-family: america;
    position: absolute;
    bottom: 19%;
    right: 9%;
    text-align: right;
}